<section>
    <div class="banner angle is-shadowed mb-large text-white">
        <div class="container banner-body">
            <h1 class="title-1 no-margin">Front-end/Back-end Developer</h1>
            <div style="display: flex; flex-direction: row; text-align: center; font-size: 1.5rem;">
                <span class="no-margin" id="type-showcase"></span>
                <span class="no-margin" id="blinking-cursor" style="display: none;">|</span>
            </div>
            <br>
            <div>
                <a class="button is-medium fill-blue text-white" href="#projects">Projects</a>
                <a class="button is-medium fill-blue text-white" href="/blog" style="cursor: pointer;" class="btn">Blogs</a>
                <a class="button is-medium fill-blue text-white" href="https://github.com/NSSure" style="cursor: pointer;" class="btn"><i
                        class="fab fa-github fa-lg"></i></a>
            </div>
        </div>
    </div>

    <div class="container projects">
        <table class="table mb-default is-rounded is-shadowed fill-white" id="projects"
            style="margin-bottom: 500px !important;">
            <thead class="fill-light">
                <tr>
                    <th>Project</th>
                    <th>Description</th>
                    <th style="width: 75px;">Activity</th>
                    <th>Topics</th>
                </tr>
            </thead>
            <tbody>
                <% for (var i = 0; i < projects.length; i++) { %>
                <tr>
                    <td>
                        <a class="cursor-pointer text-blue-lighten-5"
                            onclick="navigate('/project/<%= projects[i].name %>')">
                            <%= projects[i].name %>
                        </a>
                    </td>
                    <td>
                        <%= projects[i].description %>
                    </td>
                    <td class="last-updated">
                        <%= projects[i].updatedAt.toISOString().replace('T', ' ').substr(0, 10) %>
                    </td>
                    <td>
                        <div class="topics">
                            <% let topics = JSON.parse(projects[i].topics); %>

                            <%if (topics.length > 0) { %>
                            <% for (var ii = 0; ii < topics.length; ii++) { %>
                            <div class="topic"><%= topics[ii] %></div>
                            <% } %>
                            <% } %>

                            <%if (topics.length === 0) { %>
                            <span class="last-updated">No topics available</span>
                            <% } %>
                        </div>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</section>

<script>
    var typeShowcase = document.getElementById("type-showcase");
    var blinkingCursor = document.getElementById("blinking-cursor");

    var showcaseText = "Basic project showcase and more...";

    var textIndex = 0;
    var isTypingDone;

    var intervalId = setInterval(function () {
        typeShowcase.innerHTML += showcaseText[textIndex];
        textIndex++;

        if (textIndex >= showcaseText.length) {
            clearInterval(intervalId);
            isTypingDone = true;
        }
    }, 100);

    var isCursor = false;

    setInterval(function () {
        if (isTypingDone) {
            if (!isCursor) {
                blinkingCursor.style.display = '';
                isCursor = true;
            }
            else {
                blinkingCursor.style.display = 'none';
                isCursor = false;
            }
        }
    }, 400);

    function navigate(url) {
        window.location.href = url;
    }
</script>