<%- contentFor('body') %>
<div class="container">
    <% for (var i = 0; i < projects.length; i++) { %>
        <div class="row">
            <div class="col-md-6 col-md-12">
                <div class="project-card">
                    <div class="content">
                        <div class="project">
                            <h2 class="title">
                                <a href="/project/<%= projects[i].name %>">
                                    <%= projects[i].name %>
                                </a>
                            </h2>
                            <p class="description">
                                <%= projects[i].description %>
                            </p>
                            <div class="d-inline last-updated text-muted">
                                <i class="fa fa-clock"></i>
                                Last Updated <%= projects[i].updatedAt.toISOString().replace('T', ' ').substr(0, 10) %>
                            </div>
                            <div class="d-inline" style="margin-bottom: 15px;">
                                <% let topics = JSON.parse(projects[i].topics); %>
                                <%if (topics.length > 0) { %>
                                    <% for (var ii = 0; ii < topics.length; ii++) { %>
                                        <div class="label"><%= topics[ii] %></div>
                                    <% } %>
                                <% } %>
                                
                                <%if (topics.length === 0) { %>
                                    <div class="label">No topics available</div>
                                <% } %>
                            </div>
                            <div class="d-inline">
                                <a href="<%= projects[i].site %>" target="_blank" style="margin-right: 5px;">Project Site <i class="fas fa-external-link-alt"></i></a>
                                <a href="<%= projects[i].source %>" target="_blank">View Source Code <i class="fas fa-external-link-alt"></i></a>
                            </div>
                        </div>
                        <% /* <img class="project-image d-none d-lg-block" src="https://via.placeholder.com/450x300" width=450 height=300 /> */ %>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
</div>

<style>
    .last-updated {
        font-size: .75rem;
        margin-bottom: 15px;
    }

    .project-card {
        background-color: white;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        margin-bottom: 50px;
    }

    .project-card > .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .project-card > .content > .project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding: 15px;
    }

    .project-card > .content > .project > .title {
        margin: 0;
    }

    .project-card > .footer a {
        margin: 0 30px;
    }

    .project-image {
        margin-left: 15px;
    }
</style>