<div class="container project-page">
    <h1 class="title-1"><%= repository.name %></h1>

    <% if (demoUrl) { %>
        <a href="<%= demoUrl %>" target="_blank"><%= demoUrl %></a>
    <% } %>

    <hr class="mt-large mb-large">

    <div class="mb-large">
        <a href="<%= repository.htmlUrl %>" target="_blank">Visit Repo</a> <span>&middot;</span> <a id="issues-tab" href="#issues-content">View Issues</a> 
    </div>

    <div class="mb-large">
        <% for (var i = 0; i < repository.topics.length; i++) { %>
        <code><%= repository.topics[i] %></code>
        <% } %>
    </div>

    <p><%= repository.description %></p>

    <hr class="mt-large mb-large">

    <div class="project-details">
        <div class="tab-content" id="project-tab-content">
            <div class="tab-pane" id="readme-content" role="tabpanel">
                <%- html %>
            </div>
            <div class="tab-pane fade" id="issues-content" role="tabpanel">
                <div id="issues">
                    <h5 style="padding: 15px 0;">Repository Issues - Displaying <%= issues.length %> issue(s)
                    </h5>

                    <table class="table is-shadowed is-rounded width-100">
                        <thead class="fill-light">
                            <tr>
                                <th>Issues</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (var i = 0; i < issues.length; i++) { %>
                            <tr>
                                <td>
                                    <h5 class="no-margin mb-small"><span><a href="<%= issues[i].html_url %>"
                                                target="_blank"><%= issues[i].title %></a></span></h5>
                                    <!-- <div style="margin-bottom: 15px;"><%= issues[i].body %></div> -->

                                    <div style="font-size: .75rem;">Created at:
                                        <%= moment(issues[i].created_at).format('MM-DD-YYYY') %> // Updated at:
                                        <%= moment(issues[i].updated_at).format('MM-DD-YYYY') %> // Issue
                                        #<%= issues[i].number %>
                                    </div>

                                    <!-- <% for (var ii = 0; ii < issues[i].labels.length; ii++) { %>
                                    <div class="badge" style="background-color: #<%= issues[i].labels[ii].color %>">
                                        <%= issues[i].labels[ii].name %></div>
                                    <% } %> -->
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    pre {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
</style>

<% /* Place any scripts contained in views at the end of the page. */ %>