<style>
    .tab-content {
        padding: 15px;
    }

    table {
        width: 100%;
        text-align: left;
        border-collapse: collapse;
        margin-bottom: 30px;
        border: 1px solid #000000;
    }

    table td,
    table th {
        padding: 10px 5px;
    }

    table tbody td {
        font-size: 14px;
    }

    table thead {
        background-color: #f7f7f7;
    }

    table thead th {
        font-size: 15px;
        font-weight: bold;
        color: #383838;
    }

    table tfoot .links {
        text-align: right;
    }

    table tbody tr td {
        border: 1px solid #000000;
    }

    table tfoot .links a {
        display: inline-block;
        background: #1C6EA4;
        padding: 2px 8px;
        border-radius: 5px;
    }

    a:hover {
        font-weight: bold;
    }
</style>

<header>
    <div class="nav">
        <ul>
            <li class="home"><a href="/">Home</a></li>
            <li class="tutorials"><a href="/projects">Projects</a></li>
            <li class="about"><a href="/blog">Blog</a></li>
        </ul>
    </div>
</header>

<div class="container project-page">
    <h1 class="title-1"><a href="<%= repository.html_url %>" target="_blank"><%= repository.name %></a></h1>

    <div class="card is-rounded is-shadowed">
        <div class="card-body">
            <p>Language: <%= repository.language %></p>
            <p>Open issues: <%= issues.length %></p>
            <p><%= repository.description %></p>

            <% for (var i = 0; i < repository.topics ? repository.topics.length : 0; i++) { %>
            <div class="badge yellow"><%= repository[i] %></div>
            <% } %>
        </div>
    </div>

    <br>

    <div class="project-details">
        <ul class="nav nav-pills nav-fill" style="margin-bottom: 15px;">
            <li class="nav-item">
                <a class="nav-link active" id="readme-tab" data-toggle="tab" href="#readme-content"
                    role="tab">Readme</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="issues-tab" data-toggle="tab" href="#issues-content" role="tab">Issues</a>
            </li>
        </ul>
        <div class="tab-content" id="project-tab-content">
            <div class="tab-pane" id="readme-content" role="tabpanel">
                <%- html %>
            </div>
            <div class="tab-pane fade" id="issues-content" role="tabpanel">
                <div id="issues">
                    <h5 style="padding: 15px 0;">Repository Issues - Displaying <%= issues.length %> issue(s)
                    </h5>

                    <% for (var i = 0; i < issues.length; i++) { %>
                    <div class="item">
                        <h5><span><a href="<%= issues[i].html_url %>" target="_blank"><%= issues[i].title %></a></span>
                        </h5>
                        <div style="margin-bottom: 15px;"><%= issues[i].body %></div>

                        <div style="margin-bottom: 15px; font-size: .75rem;">Created at:
                            <%= moment(issues[i].created_at).format('MM-DD-YYYY') %> // Updated at:
                            <%= moment(issues[i].updated_at).format('MM-DD-YYYY') %> // Issue
                            #<%= issues[i].number %>
                        </div>

                        <!-- <% for (var ii = 0; ii < issues[i].labels.length; ii++) { %>
                        <div class="badge" style="background-color: #<%= issues[i].labels[ii].color %>">
                            <%= issues[i].labels[ii].name %></div>
                        <% } %> -->
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    pre {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
</style>

<% /* Place any scripts contained in views at the end of the page. */ %>